[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {rpi_sunrise,
     [{'Elixir.RpiSunrise.Endpoint',
          [{root,<<"/home/pi/rpi-sunrise">>},
           {render_errors,[{accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.RpiSunrise.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {url,[{host,<<"example.com">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {secret_key_base,
               <<"kqXSJ91Fu8YanXZdKQpp4W/8vxC+qIrNbHKi9o0+x4RyqoczLI7v9X65ydrROCA1">>}]},
      {'Elixir.RpiSunrise.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"rpi_sunrise_prod">>},
           {pool_size,20}]}]},
 {phoenix,[{generators,[{migration,true},{binary_id,false}]}]}].
